table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  font-weight: 500;
}

thead {
  text-align: left;
}

thead th:nth-child(1) {
  width: 30%;
}

th, td {
  padding: 15px 20px;
  border: 3px solid #afafaf;
}

.lowest-currency {
  background: #0091ff;
  color: white;
}
